<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %>:</p>
<a href="/photos">返回图片首页</a>
<form method="post">
    name：<input type="text" id="picName" name="name"/>
    path：<input type="text" id="picPath" name="path"/>
    <input type="submit" value="提交">
</form>
</body>
</html>
