<!DOCTYPE html>
<html>
<head>
    <a href="/">
        <img border="0"
             src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=435249531,1055559722&fm=27&gp=0.jpg">
    </a>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %>，请输入城市名：</p>
<form method="post">
    <input type="text" id="cityName" name="city"/>
    <input type="submit" value="查询">
</form>
</body>
</html>
